<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="~/Scripts/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <div class="row">
                <header class="top-banner">
                    <img class="hidden-md-down" src="~/Images/desktop_top_banner.jpg" />
                    <img class="hidden-sm-down hidden-lg-up" src="~/Images/tablet_top_banner.jpg" />
                    <img class="hidden-md-up" src="~/Images/mobile_top_banner.jpg" />
                </header>
                <section class="page-content container">
                    <div class="row">
                            @RenderBody()
                    </div>
                </section>
                <footer class="footer-banner">
                    <img class="hidden-md-down" src="~/Images/desktop_bottom.jpg" />
                    <img class="hidden-lg-up hidden-sm-down" src="~/Images/tablet_bottom.jpg" />
                    <img class="hidden-md-up" src="~/Images/mobile_bottom.jpg" />
                </footer>
                @RenderSection("Scripts", required: false)
            </div>
        </div>
        <script src="~/Scripts/tether/dist/js/tether.min.js"></script>
        <script src="~/Scripts/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/Content/js/site.js"></script>
    </body>
</html>